APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
## 系统设置相关
BASE64_ADDRESS=6YOR5bee5biC566h5Z+O5Yy657Sr6I2G5bGx5Lic5aSn6KGX6ZW/5rGf5bm/5Zy6MTAwNuWupA==
BASE64_ICP=6LGrSUNQMTcwMDAwMDAwMOWPtw==
BASE64_APP_TITLE=6YOR5bee6IGU6YCa55S15a2Q5ZWG5Yqh6YOo
BASE64_APP_DESCRIPTION=6YOR5bee6IGU6YCa55S15a2Q5ZWG5Yqh6YOo
BASE64_APP_KEYWORDS=6YOR5bee6IGU6YCa55S15a2Q5ZWG5Yqh6YOo
APP_SERVICE_QQ=172558967
APP_SERVICE_EMAIL=wang.gaichao@163.com
APP_SERVICE_PHONE=15538106787
BASE64_APP_COMPANY_NAME_EN=Q2hpbmEgVGVsZWNvbSBaaGVuZ3pob3UgQnJhbmNo
BASE64_APP_COMPANY_NAME_CN=5Lit5Zu955S15L+h6YOR5bee5YiG5YWs5Y+4
PAGE_SIZE=15

## 微信相关
WECHAT_APPID=wx91c778e71f891950
WECHAT_SECRET=046178945d62cdcf06f4aad734ed355e
WECHAT_TOKEN=gai871013
WECHAT_AES_KEY=zSgNng0NjgG2qeIPMWBfmH0Wm5QArOklRAMGV0f6q6T
WECHAT_PAYMENT_MERCHANT_ID=
WECHAT_PAYMENT_KEY=
WECHAT_PAYMENT_CERT_PATH=
WECHAT_PAY_KEY_PATH=
WECHAT_ENABLE_MOCK=false