@charset "utf-8";

* {margin: 0px;padding: 0px;}

body{position: relative; font-family: Arial; background: #f3f3f3; }

div,table,td{margin: 0px;padding: 0px;}
ul,li{ list-style:none}
img, a img,textarea {border: 0; }

a{ text-decoration:none; color:#333}
a:focus,button {outline: none;}
 input,textarea{font-family: Arial;outline: none;}
 input,input[type="submit"], input[type="reset"], input[type="button"], button {-webkit-appearance: none;}


a,button,input,textarea,li{-webkit-tap-highlight-color:rgba(255,0,0,0);}

/*::-webkit-scrollbar/*整体部分*/
{width:0px;height:0px;}
::-webkit-scrollbar-track/*滑动轨道*/
{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);border-radius: 0px;background: #7db8fc; border-radius: 5px;}
::-webkit-scrollbar-thumb/*滑块*/
{border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);background:#317be6;  border-radius: 5px;}
::-webkit-scrollbar-thumb:hover/*滑块效果*/
{border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);background: rgba(0,0,0,0);}
img,a img{border:0; margin: 0}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #aaa;}

input,textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
 -webkit-appearance: none;-moz-appearance: none; }


em,i{font-style: normal;}
input{ border: none; display: block;}
.mb{ margin-bottom: 75px; overflow: hidden;}
.mt{ margin-top: 65px}
.button-gray{ background:#ccc;}

/*登录*/
.cont{ background: #fff; margin-top: 15px; width: 100%; float: left;}
.login{ margin: 0 auto; width: 90%}
.login li{ border-bottom: 1px solid #eee; padding: 0.5rem 0; overflow: hidden;}
.login input{ width: 80%; line-height:2rem; font-size: 1rem;  color: #333 ; background: none; float: left; margin-left: 15%; padding: 3px 0}
.login .div01{width: 80%;float: left; margin-left: 15%; line-height:2rem; position: relative;}
.login .div01 span{ width: 6em; border-left: 1px solid #e5e5e5; color: #f95236;padding: 3px 0;line-height:2rem; text-align: right; right: 0; text-align: center;
 font-size: 0.825rem; display: block; position: absolute;}

.login input.input01{width: 50%; margin-left: 0%; }
.login li:nth-child(1){background:url(../images/login_icon01.png) no-repeat left center; background-size:6vw;}
.login li:nth-child(2){background:url(../images/login_icon02.png) no-repeat 1% center; background-size:4.1vw;}
.login li:nth-child(3){background:url(../images/login_icon03.png) no-repeat left center; background-size:6vw; border: none}

.btn{ width: 90%; float: left; background: #f05136; color: #fff;  font-size: 1.25rem; border-radius: 5px; line-height:2.8rem; display: block; margin: 10vw auto; border: none;
  margin-left: 5%;}
.btn01{ width: 60%; color: #fff;  font-size: 1.45rem; border-radius: 3rem; line-height:3rem; display: block; margin: 10vw auto; border: none; box-shadow: 0px 0px 10px #fcc504;
background: -moz-linear-gradient(top, #fd7640, #f05136);
background: -webkit-gradient(linear,top,from(#fd7640),to(#f05136));
background: -webkit-linear-gradient(top, #fd7640, #f05136);
background: -o-linear-gradient(top, #fd7640, #f05136);}

/*首页*/
.bg01{ width: 100%; background: url(../images/bg01.png) no-repeat ; background-size: 100% 100%; overflow: hidden;}
.tith1{ font-size: 1.45rem; line-height: 2rem; color: #f9f768; text-align: center; margin: 10vw auto 0}

.car_div{ width: 50vw; height: 50vw; margin: 10vw auto 20vw; border: 4px solid rgba(255,255,255,.5); border-radius: 50vw;  background: url(../images/car_bg.png) no-repeat ;
 background-size: 100% 100%; overflow: hidden; display: table; vertical-align:middle; text-align: center; position: relative; }

 .car{ width: 50%;  display: table-cell; vertical-align:middle; text-align: center;position: relative; z-index: 2;-webkit-animation:car 2s  alternate infinite; animation:car 2s  alternate infinite;}
 .car .carbody{ width: 74%; }
 .car .carcl01{ width: 14%; position: absolute; left:21%; bottom: 15.5vw;-webkit-animation:carcl 1s linear normal infinite; animation:carcl 1s linear normal infinite;}
 .car .carcl02{ width: 14%; position: absolute; right:18%; bottom: 15.5vw;-webkit-animation:carcl 1s linear normal infinite; animation:carcl 1s linear normal infinite;}
.bglogo01{ position: fixed; left: 0; bottom: 5%; width: 12%; display: block;}
.bglogo02{ position: fixed; right: 0; bottom: 6%; width: 15%; display: block;}


@-webkit-keyframes carcl{
	0%{ -webkit-transform:rotate(0deg);}
	100%{ -webkit-transform:rotate(-360deg);}
}

@-webkit-keyframes car{
	0%{ -webkit-transform:translate(2vw, 0%);}
	100%{ -webkit-transform:translate(-2vw, 0%);}
}

/*底部菜单*/
.bottom{ background: rgba(255,255,255,.9); height: 52px; box-shadow: 0 -1px 2px rgba(0,0,0,.1); position:  fixed; left: 0; bottom: 0; width: 100%; }
.nav{ overflow: hidden; width: 100%}
.nav li{ width: 33.333%;  text-align: center; float: left; color: #666; font-size: 12px; position: relative; height: 52px;}
.nav li a{ display: block; width: 100%; overflow: hidden; height: 52px}
.nav li p{ text-align: center; width: 100%;  position: absolute; bottom: 4px;}
.nav li:nth-child(1){background:url(../images/icon1_0.png) no-repeat center 3px; background-size:30px;}
.nav li:nth-child(2){background:url(../images/icon2_0.png) no-repeat center 3px; background-size:30px;}
.nav li:nth-child(3){background:url(../images/icon3_0.png) no-repeat center 3px; background-size:30px; }
.nav li.on{ color: #f05136}
.nav li:nth-child(1).on{background:url(../images/icon1_1.png) no-repeat center 3px; background-size:30px;}
.nav li:nth-child(2).on{background:url(../images/icon2_1.png) no-repeat center 3px; background-size:30px;}
.nav li:nth-child(3).on{background:url(../images/icon3_1.png) no-repeat center 3px; background-size:30px; }

/*申请用车*/
.usecar{ width: 94%; margin: 0 auto}
.usecar li{ border-bottom: 1px solid #eee; padding: 4vw 0;position: relative; float: left; width: 100%}
.usecar span{ width: 4em;  float: left;  padding-left:7%; display: block;line-height:6vw; overflow: hidden;  font-size: 0.95rem; letter-spacing: -0.5px; color: #555}
.usecar input{ width: 70%; line-height:6vw;   color: #333 ; background: none; float: right;font-size: 0.95rem; letter-spacing: -0.5px; color: #333; }

.usecar input.inputtime{ background:url(../images/jt01.png) no-repeat right center; background-size:14px; }

.usecar li:nth-child(1){background:url(../images/yc_icon01.png) no-repeat left center; background-size:4.5vw;}
.usecar li:nth-child(2){background:url(../images/yc_icon02.png) no-repeat left center; background-size:4.5vw;}
.usecar li:nth-child(3){background:url(../images/yc_icon03.png) no-repeat left center; background-size:5vw; }
.usecar li:nth-child(4){background:url(../images/yc_icon04.png) no-repeat left center; background-size:5vw; border: none}

.usecar li:nth-child(1) ul li ,.usecar li:nth-child(2) ul li{ background: url(../images/li_bg.png) left 5.5vw no-repeat;  background-size: 4px}

.usecar li ul{ position: absolute; top: 14vw; width:100%; right: 0; background: #fff; z-index: 10; box-shadow: 0 2px 5px rgba(0,0,0,.2);
 display: none; max-height: 60vw; overflow: auto; border: 1px solid #ddd ; border-top: 1px solid #f87d68 }
.usecar li ul li{ background: none; padding: 3vw 0; line-height: 6vw; font-size: 0.95rem; color: #000; width: 90%; margin: 0 5%; padding-left: 10px }
.usecar li ul li:last-child{ border: none;}

.usecar_bs{width: 92%; margin: 0 auto}
.usecar_bs h1,.usecar_bs h2,.usecar_bs h3{ font-size: 0.95rem; font-weight: normal; color: #555; background:url(../images/yc_icon05.png) no-repeat left center; background-size:5vw; padding:4vw 0 4vw 7%;
line-height:6vw; border-bottom: 1px solid #eee;}
.usecar_bs h1{ background:url(../images/mony_icon05.png) no-repeat left center; background-size:5vw; }
.usecar_bs h3{ background: none;padding:3vw 0 ; font-size: 0.85rem;line-height:5vw; }
.usecar_bs textarea ,.usecar_bs .beizh01{ width: 90%;font-size: 0.95rem; letter-spacing: -0.5px; color: #333; margin:10px auto; display: block;}
.usecar_bs .beizh01{ overflow: hidden; line-height: 1.5rem;}
/*归还车辆*/
.ghcar{ width: 94%; margin: 0 auto; padding: 2vw 0; border-bottom: 1px solid #eee}
.ghcar li{ padding: 2vw 0; overflow: hidden;}
.ghcar span{ width:90%;  float: right;  padding-left:7%; display: block;line-height:6vw; overflow: hidden;  font-size: 0.95rem; letter-spacing: -0.5px; color: #333}
.ghcar li:nth-child(1){background:url(../images/cf01.png) no-repeat 1vw 2vw; background-size:4.2vw;}
.ghcar li:nth-child(2){background:url(../images/md01.png) no-repeat 1vw 2vw; background-size:4.2vw;}

.ghyou{ width:94%; margin: 10px auto; overflow: hidden;}
.ghyou li{ width:33.3333%; float: left; text-align: center;  margin: 5px 0 10px}
.ghyou li img{ display: block; width: 32%; margin: 0 auto;}
.ghyou li h2{  font-size: 1rem; color: #333; font-weight: normal; line-height: 1.4rem; padding-top: 2vw; letter-spacing: -0.3px}
.ghyou li p{ font-size: 0.8rem; color: #888;line-height: 1.2rem}


/*填写费用*/
.money{ width: 94%; margin: 0 auto}
.money li{ border-bottom: 1px solid #eee; padding: 4vw 0; overflow: hidden;}
.money span{ width: 4em;  float: left;  padding-left:7%; display: block;line-height:6vw; overflow: hidden;  font-size: 0.95rem; letter-spacing: -0.5px; color: #555}
.money input{ width: 68%; line-height:6vw;   color: #333 ; background: none; float: right;font-size: 0.95rem; letter-spacing: -0.5px; color: #333; }

.money input.inputtime{ background:url(../images/jt01.png) no-repeat right center; background-size:14px; }

.money li:nth-child(1){background:url(../images/mony_icon01.png) no-repeat left center; background-size:4.8vw;}
.money li:nth-child(2){background:url(../images/mony_icon02.png) no-repeat left center; background-size:4.8vw;}
.money li:nth-child(3){background:url(../images/mony_icon03.png) no-repeat left center; background-size:5vw; }
.money li:nth-child(4){background:url(../images/mony_icon04.png) no-repeat left center; background-size:5vw; }
.money li:nth-child(5){background:url(../images/mony_icon05.png) no-repeat left center; background-size:5vw; border: none}

/*我的任务*/
.tab{ position: fixed; width: 100%; height: 50px; top: 0; z-index: 10; box-shadow: 0px 0px 1px rgba(0,0,0,.2);  background: #fff}
.tab ul{ width: 60%; border-radius: 50px; border: 1px solid #f05136; height: 32px; line-height: 32px; margin: 8px auto}
.tab ul li{ width: 50%; float: left; color: #f05136;  font-size: 1rem; text-align: center;}
.tab ul li.on{ color: #fff; background: #f05136 ;}
.tab ul li:nth-child(1).on{ border-radius: 50px 0 0 50px}
.tab ul li:nth-child(2).on{ border-radius:0 50px 50px 0px}

.tablist{ width: 100%; margin: 0 auto}
.tablist dl{ background: #fff url(../images/jt02.png) no-repeat 95% center ; background-size:10px; margin: 10px auto }
.tablist dd{ width: 90%; border-bottom: 1px solid #eee; line-height: 6vw; overflow: hidden;padding: 4vw 0; color: #444}
.tablist dd span{width: 4em;  float: left;  padding-left:10%;font-size: 0.95rem; letter-spacing: -0.5px; color: #555 }
.tablist dd em{ width: 68%; line-height:6vw;   color: #333 ;  float: right;font-size: 0.95rem; letter-spacing: -0.5px; color: #333;word-wrap:break-word;word-break:break-all;}
.tablist dd:nth-child(1){background:url(../images/rw_icon01.png) no-repeat 3vw 4.2vw; background-size:4.5vw; }
.tablist dd:nth-child(2){background:url(../images/yc_icon04.png) no-repeat 3vw 4.2vw; background-size:5vw; border: none}


.tabcont {  width: 94%; margin: 0 auto }
.tabcont li{ width: 100%; border-bottom: 1px solid #eee; line-height: 6vw; overflow: hidden;padding: 4vw 0; color: #444}
.tabcont li span{width: 4em;  float: left;  padding-left:7%;font-size: 0.95rem; letter-spacing: -0.5px; color: #555 }
.tabcont li em{ width: 68%; line-height:6vw;   color: #333 ;  float: right;font-size: 0.95rem; letter-spacing: -0.5px; color: #333;word-wrap:break-word;word-break:break-all;}
.tabcont li:nth-child(1){background:url(../images/rw_icon01.png) no-repeat left 4.2vw; background-size:4.5vw; }
.tabcont li:nth-child(2){background:url(../images/rw_icon02.png) no-repeat left 4.2vw; background-size:5vw; }
.tabcont li:nth-child(3){background:url(../images/rw_icon03.png) no-repeat left 4.2vw; background-size:5.2vw; }
.tabcont li:nth-child(4){background:url(../images/yc_icon04.png) no-repeat left 4.2vw; background-size:5vw;}
.tabcont li:nth-child(5){background:url(../images/yc_icon04.png) no-repeat left 4.2vw; background-size:5vw;}
.tabcont li:nth-child(6){background:url(../images/yc_icon02.png) no-repeat left 4.2vw; background-size:5vw; border: none}


.xclist{ width: 100%; margin: 0 auto ;}
.xclist dl{ background: #fff;  margin: 10px auto ; padding: 10px 0}
.xclist dd,.xclist dt{ width: 90%; margin: 0 auto;  line-height: 6vw; overflow: hidden;padding: 1.25vw 0; color: #444;}
.xclist dt{background:url(../images/time01.png) no-repeat 0 1.5vw; background-size:5vw;}
.xclist dd span,.xclist dt span{ float: left;  padding-left:7%;font-size: 0.95rem; letter-spacing: -0.5px; color: #555 }
.xclist dt span{width: 60%; }
.xclist dt em{width: 20%; float: right; font-size: 0.85rem; color: #888 ; background:url(../images/jt02.png) right center no-repeat ; background-size:8px;}
.xclist dd em{ width: 68%; line-height:6vw;   color: #333 ;  float: right;font-size: 0.95rem; letter-spacing: -0.5px; color: #333;word-wrap:break-word;word-break:break-all;}

.xclist dl dd:nth-child(2){background:url(../images/cf01.png) no-repeat 0 1.5vw; background-size:4.2vw; }
.xclist dl dd:nth-child(3){background:url(../images/md01.png) no-repeat 0 1.5vw; background-size:4.2vw; border: none}



/*more*/
.more{ width: 100%;   text-align: center; font-size: 14px; color: #777; border-radius: 50px; margin: 5px auto; height: 30px;}

.more span{text-align: center; line-height:30px; padding: 3px 0}
.more.on span{background: url(../images/loading.gif) no-repeat left center; background-size: 20px;text-align: center; padding-left: 30px;}


/*弹层 协议*/
.layer{display:table; background-color:rgba(0,0,0,0.7); width:100%; height:100%; overflow:hidden; visibility: hidden;opacity: 0;
		-webkit-transition: all 0.5s; transition: all 0.5s; position: fixed; left: 0;top: 0;z-index: 2000;}
.layer>div{vertical-align:middle; display:table-cell;text-align: center;}
.layer-content{display: inline-block;width: 82%; margin: 0 auto;-webkit-transform:scale(0.7) translateY(100px) perspective(500px) rotatex(90deg);
	-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.53, -0.54, 0.79, 0.51);-webkit-transition: all 0.4s; position: relative;
	background:#fff; background-size:100% 100%; border-radius: 5px;}

.layer.active{visibility: visible;opacity: 1; -webkit-transform:scale(1.0) translateY(0) perspective(1000px) rotatex(0deg);-webkit-transition: -webkit-transform 1s cubic-bezier(0.24, 0.9, 0.42, 1.21)}

.layer.active .layer-content{-webkit-transform:scale(1.0); transform:scale(1.0); -webkit-transition: all 0.5s; transition: all 0.5s;}
.close-layer{font-size: 26px;font-style: normal;color: #07a633;position: absolute;right: -10px;top: -10px;display: block;width: 32px;
	height: 32px;background: #f7f8f2;text-align: center;line-height: 30px;border-radius: 50%;border: 1px solid #fff; z-index: 100}

.layer-title{border-radius: 5px 5px 0 0; width:100%; margin: 0% auto; position: relative; overflow: hidden;}
.layer-title h2{width: 90%; margin: 0 auto; font-size:1.15rem; color:#333; border-bottom: 1px solid rgba(255,255,255,.3); line-height: 46px; font-weight: normal; border-bottom: 1px solid #ddd}

.close{ background: #f05136; color: #fff; position: absolute; width: 38px; height: 38px; line-height: 44px; border-radius: 38px; right: -10px; top: -10px; text-align: left;}
.close i{ padding-left: 10px; font-size: 18px; font-family: arial}

.layer-text{max-height: 310px;overflow: auto;padding: 15px 20px 10px;text-align: left; position: relative; z-index: 10}
.layer-text h1,.layer-text h2{ font-size:1.15rem ;color:#f05136; line-height:1.5rem; padding:10px 0px; text-align: center; font-weight: normal; }
.layer-text h2{ text-align: left; font-size:1.05rem ;}
.layer-text p{ font-size:0.95rem; color:#666; line-height:26px; padding:2px ;}
.layer-text p span{ color: #d21e12; font-size: 18px}
.layer-text ul{ width: 100%; }
.layer-text ul li{ font-size: 15px; line-height: 26px; padding: 5px 0 ;color: #555;}
.layer-text ul li span{ font-size: 16px; color: #888;padding-right: 5px;}


.layer_bg{ width:100%; position: absolute; left: 0; bottom:0%; display: block; opacity: .7}
.layer-text img{ display: block; width: 100%}
.layer_button{ font-size: 16px; width:100%; display: block;  margin: 20px auto; text-align: center; overflow: hidden;}
.layer_button button{ width: 40%; display: inline-block; text-align: center; border: none;   color: #fff;
	line-height: 34px;  border-radius:5px; font-size: 16px; margin: 0 2% ; padding: 0; }
.layer_button button.gray{  background: #ccc; color: #fff}
.layer_button button.btn{ float: none}

.layer_img{display:table; background-color:rgba(0,0,0,0.7); width:100%; height:100%; overflow:hidden; visibility: hidden;opacity: 0;
		-webkit-transition: opacity 0.35s, visibility 0.35s;position: fixed; left: 0;top: 0;z-index: 2000;}

.layer_img.active{visibility: visible;opacity: 1; -webkit-transition: opacity 0.35s;}
.layer_img>div{vertical-align:middle; display:table-cell;text-align: center; max-height: 100%; overflow: auto; position: relative;}
.layer_img img{vertical-align:middle; text-align: center; display:table-cell; width:90%; margin-left: 5% }

.lay_btn{ width:60% ; margin:8% auto 10% 30%; border-radius: 100px; border: 1px solid #ae067a; line-height: 2.6rem; display: block; box-shadow: 0px 0px 3px rgba(0,0,0,.2);
color: #ede500;font-size:1.4rem; font-weight: bold; box-shadow: inset 0 0 3px rgba(255,255,255,.5);
background: -webkit-linear-gradient(90deg, #4d44c9, #c4037b);
background: -o-linear-gradient(90deg, #4d44c9, #c4037b);
background: -moz-linear-gradient(90deg, #4d44c9, #c4037b);
background: linear-gradient(90deg, #4d44c9, #c4037b);}


/*加载动画*/



/*加载动画*/
.loaders {width: 100%; box-sizing: border-box; height: 100%; position: fixed; top: 0; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; background:#fff;z-index: 1000}
.loaders .carload{ width: 34vw; height:20vw;display: block; margin: 50% auto 5%; position: relative; -webkit-animation:car 2s  alternate infinite; animation:car 2s  alternate infinite;}
.loaders .carload .img01{ width:100%; display: block; margin: 0 auto}
.loaders .carload .img02{ position: absolute; left: 10%; width: 20%; top: 48% ;-webkit-animation:carcl 1s linear normal infinite; animation:carcl 1s linear normal infinite;}
.loaders .carload .img03{position: absolute; right: 6.2%; width: 20%; top: 48% ;-webkit-animation:carcl 1s linear normal infinite; animation:carcl 1s linear normal infinite;}
.loaders p{ font-size: 1rem; color: #555; text-align: center; margin-top: 2vw; width: 100%; position: absolute; top: 47%; left: 0}



.loading{width: 100%; box-sizing: border-box; height: 100%; position: fixed; top: 0;background:none;z-index: 1000; display: none; }
.loading_div{ background:rgba(0,0,0,.6) ; width: 40%; height: 26vw; position: absolute; left: 30% ; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; top: 50%;
 margin-top: -15vw ; border-radius: 5px; position: relative;}
.loading_div p{ width: 100%; position: absolute; bottom: 1%; text-align: center; color: #fff; left: 0; font-size: 0.825rem; line-height: 1.2rem; padding-bottom: 5px;}
.loading_div .loader { box-sizing: border-box; display: flex;flex: 0 1 auto;flex-direction: column;flex-grow: 1;flex-shrink: 0;flex-basis: 25%; width: 25%;align-items: center;justify-content: center;
	padding-bottom: 10px; margin-top: -10px;
transform: scale(0.8,0.8);
-ms-transform: scale(0.8,0.8);
-webkit-transform: scale(0.8,0.8);
-o-transform: scale(0.8,0.8);
-moz-transform: scale(0.8,0.8);}


.loader-inner{ }
@-webkit-keyframes ball-spin-fade-loader {
  50% { opacity: 0.3; -webkit-transform: scale(0.4);transform: scale(0.4); }
  100% { opacity: 1;-webkit-transform: scale(1); transform: scale(1); } }
@keyframes ball-spin-fade-loader {
  50% { opacity: 0.3;-webkit-transform: scale(0.4); transform: scale(0.4); }
  100% { opacity: 1;-webkit-transform: scale(1); transform: scale(1); } }
.ball-spin-fade-loader { position: relative; top: -10px;left: -10px; }
.ball-spin-fade-loader > div:nth-child(1) {top: 25px;left: 0;-webkit-animation: ball-spin-fade-loader 1s -0.96s infinite linear; animation: ball-spin-fade-loader 1s -0.96s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {top: 17.04545px;left: 17.04545px;-webkit-animation: ball-spin-fade-loader 1s -0.84s infinite linear;animation: ball-spin-fade-loader 1s -0.84s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {top: 0; left: 25px;-webkit-animation: ball-spin-fade-loader 1s -0.72s infinite linear; animation: ball-spin-fade-loader 1s -0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) { top: -17.04545px;left: 17.04545px;-webkit-animation: ball-spin-fade-loader 1s -0.6s infinite linear; animation: ball-spin-fade-loader 1s -0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) { top: -25px; left: 0; -webkit-animation: ball-spin-fade-loader 1s -0.48s infinite linear; animation: ball-spin-fade-loader 1s -0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {top: -17.04545px;left: -17.04545px;-webkit-animation: ball-spin-fade-loader 1s -0.36s infinite linear;animation: ball-spin-fade-loader 1s -0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) { top: 0; left: -25px; -webkit-animation: ball-spin-fade-loader 1s -0.24s infinite linear; animation: ball-spin-fade-loader 1s -0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {top: 17.04545px;left: -17.04545px;-webkit-animation: ball-spin-fade-loader 1s -0.12s infinite linear; animation: ball-spin-fade-loader 1s -0.12s infinite linear; }
.ball-spin-fade-loader > div { background-color: #fff; width: 15px;height: 15px; border-radius: 100%;margin: 2px;-webkit-animation-fill-mode: both; animation-fill-mode: both; position: absolute; }



/*新增提示*/
.newadd{ width: 90%; text-align: center; margin: 0 auto}
.newadd h1{ font-size: 1rem; color: #555; line-height: 2rem; padding-top: 2%}
.newadd p{ font-size: 0.85rem; color: #888; line-height: 1.5rem;}
.newadd .bq{ width: 22%; margin: 20% auto 5%;}

.newaddbtn{ font-size: 16px; width:90%; display: block;  margin: 20px auto; text-align: center; overflow: hidden;}
.newaddbtn a{ width: 36%; display: inline-block; text-align: center; border: none;   color: #fff;  background: #f05136;
    line-height: 2rem;  border-radius:5px; font-size:0.95rem; margin: 0 2% ; padding: 0; border-radius: 50px; }